* {
    box-sizing: border-box;
}

body {
    font-family: "Comfortaa", cursive;
    margin: auto;
    background-color: #F3F6FD;
    font-size: 400;
}

.app {
    display: flex;
}

/* panel */

.panel {
    height: 100vh;
    background: #FBFAFF;
    padding: 30px;
}

.logo {
    margin-bottom: 48px;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}

.menu__list {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.menu__item {
    width: 45px;
    height: 45px;
    background: #FFFFFF;
    border: none;
    border-radius: 14px;
    box-shadow: 0 8px 14px 0 rgba(62, 107, 224, 0.12);
    cursor: pointer;
}

.menu__item:hover {
    background: #6A6AFB;
}

.menu__item:hover img {
    filter: brightness(0) invert(1);
}

.menu__item_active {
    background: #5051F9;
}

.menu__item_active img {
    filter: brightness(0) invert(1);
}

.menu__add {
    width: 45px;
    height: 45px;
    background: none;
    border: 1px solid #CAD5FF;
    border-radius: 14px;
    cursor: pointer;
}

.menu__add:hover {
    background: #6A6AFB;
}

.menu__add:hover img {
    filter: brightness(0) invert(1);
}

/* content > header */

.content {
    padding: 45px 50px;
    min-width: 900px;
}

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

h1 {
    margin: 0;
    color: #000000;
    line-height: 33px;
}

.progress {
    min-width: 235px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.progress__text {
    display: flex;
    justify-content: space-between;
}

.progress__name {
    color: #232360;
    font-size: 14px;
    line-height: 15px;
}

.progress__percent {
    color: #768396;
    font-size: 12px;
    line-height: 13px;
}

.progress__bar {
    background: #E6E9ED;
    height: 5px;
    border-radius: 4px;
}

.progress__cover-bar {
    width: 80%;
    background: #5051F9;
    height: 5px;
    border-radius: 4px;
}

/* content > main */

.habbit {
    background: #FFFFFF;
    display: flex;
    border-radius: 10px;
    max-height: 55px;
    font-size: 500;
    align-items: center;
    margin-bottom: 12px;
}

.habbit__day {
    color: #000000;
    background: #FBFAFF;
    font-size: 14px;
    line-height: 15px;
    padding: 20px 40px;
    border-radius: 10px 0 0 10px;
    border-right: 1px solid #E7EBFB;
    min-width: 150px;
}

.habbit__comment {
    min-width: 340px;
    padding: 19px 38px 19px 43px;
    font-size: 16px;
    line-height: 17px;
}

.habbit__delete {
    margin-left: auto;
    margin-right: 13px;
    background: none;
    border: none;
    border-radius: 5px;
    padding: 5px 5px 2px 5px;
    cursor: pointer;
}

.habbit__delete:hover {
    background: #c2c2d4;
}

.habbit__delete:hover img {
    filter: brightness(0) invert(1);
}

input {
    font-size: 14px;
    line-height: 15px;
    border: 1px solid #E7EBFB;
    border-radius: 9px;
    padding: 12px 48px;
    font-family: "Comfortaa", cursive;
    flex: 1;
}

.habbit__form {
    width: 100%;
    display: flex;
    padding: 7px 13px 7px 24px;
    gap: 14px;
    position: relative;
}

.icon {
    position: absolute;
    top: 17px;
    left: 45px;
}

.done {
    min-width: 120px;
    background: #EDECFE;
    color: #5051F9;
    border: none;
    border-radius: 9px;
    cursor: pointer;
}

.done:hover {
    background: #6A6AFB;
    color: #FFFFFF;
}